<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Factorio calc</title>
    <script>
{VIS_SRC}
    </script>
    <style type="text/css">
      body {{
	margin: 0;
      }}
      #mynetwork {{
        width: 100vw;
        height: 100vh;
      }}
    </style>
  </head>
  <body>
    <div id="mynetwork"></div>
    <script type="text/javascript">
{GRAPH_SRC}
    </script>
  </body>
</html>
